h1 {
    color:rgb(140, 30, 30);
    text-align: center;
}

body {
    font-family:monospace;
}

#root {
    margin:0, 200px, 0, 200px;
    background-color: white;
    text-align: center;
}

#target {
    color:lime;
    font-style:italic;
}

div.standard {
    border-style:solid;
    border-color:rgb(140,30,30)
}